<div class="content-wrap">
	<div style="text-align: center;padding: 10px" *ngIf="loadIcon">
		<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
	</div>
	<div *ngFor="let matchDetail of listMatch">

		<div class="catcontent-wrap">

			<div class="subject-cat clearfix">
				<div class="float-left text-uppercase"> {{matchDetail.catName}}</div>  
				<div class="float-right text-warning" style="cursor: pointer;" (click)="refreshMatch()"> 
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</div>
			</div>

			<div *ngFor="let inDetail of matchDetail.matchDetail">		
				<div class="wrap-table-list">
					<table class="table table-bordered intable-list">								 
						<tbody>
							
							<tr>

								<td class="date-table">
									<span *ngIf="inDetail.day<=9">0</span>{{inDetail.day}} 
									{{monthThai[inDetail.month]}} 
									<b>{{inDetail.time}}</b>
								</td>
								<td class="namevs-table ">
									<i class="td-time fa fa-dot-circle-o text-dark" aria-hidden="true"></i>
									{{inDetail.team1}} vs {{inDetail.team2}}
								</td>
								<td class="percent-table">
									{{checkFirstTimeMatch(inDetail.percentA,inDetail.percentB)}}
								</td>
								<td class="multi-table" [class.click-bet]="_chose.toggle[inDetail.matchID+''+1]" 
									(click)="_chose.selectTeam(inDetail,1);_chose.toggleClick(inDetail.matchID,1)">
									x {{inDetail.oddA}} 
								</td>
								<td class="multi-table" [class.click-bet]="_chose.toggle[inDetail.matchID+''+2]" 
									(click)="_chose.selectTeam(inDetail,2);_chose.toggleClick(inDetail.matchID,2)">
									x {{inDetail.oddB}}
								</td>
								<td style="width: 100px">{{inDetail.statusgame}}</td>
								<td class="team-winner">
									<span *ngIf="inDetail.winner == null">ทีมชนะ ?</span>
									<span *ngIf="inDetail.winner != null">{{inDetail.winner}}</span>
								</td>
							</tr>

						 </tbody>
					</table>
				</div>
			</div>

		</div>
	
	</div>





</div>

