<div class="content-wrap">

	<div *ngFor="let matchDetail of listMatch">

		<div class="catcontent-wrap">

			<div class="subject-cat">
				{{matchDetail.catName}} 
			</div>

			<div *ngFor="let inDetail of matchDetail.matchDetail">		
				<div class="wrap-table-list">
					<table class="table table-bordered intable-list">								 
						<tbody>
							
							<tr>

								<td class="date-table">
									<span *ngIf="inDetail.day<=9">0</span>{{inDetail.day}} 
									{{monthThai[inDetail.month]}} 
									<b>{{inDetail.time}}</b>
								</td>
								<td class="namevs-table ">
									<i class="td-time fa fa-clock-o" aria-hidden="true"></i>
									{{inDetail.team1}} vs {{inDetail.team2}}
									<!-- <i class="td-time fa fa-clock-o" aria-hidden="true"></i> -->
								</td>
								<td class="percent-table">
									{{checkFirstTimeMatch(inDetail.percentA,inDetail.percentB)}}
								</td>
								<td class="multi-table" [class.click-bet]="_chose.toggle[inDetail.matchID+''+1]" 
									(click)="_chose.selectTeam(inDetail,1);_chose.toggleClick(inDetail.matchID,1)">
									x {{inDetail.oddA}}
								</td>
								<td class="multi-table" [class.click-bet]="_chose.toggle[inDetail.matchID+''+2]" 
									(click)="_chose.selectTeam(inDetail,2);_chose.toggleClick(inDetail.matchID,2)">
									x {{inDetail.oddB}}
								</td>
								<td style="width: 100px">กำลังแข่ง</td>
								<td class="team-winner">
									<span *ngIf="inDetail.winner == null">-</span>
									<span *ngIf="inDetail.winner != null">{{inDetail.winner}}</span>
								</td>
							</tr>

						 </tbody>
					</table>
				</div>
			</div>

		</div>
	
	</div>





</div>

