<!-- mobile -->
<nav class="navbar  navbar-dark  fixed-top d-block d-sm-none" style="background:#000">

    	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" 			aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  	</button>
  	<!-- start show point mobile -->
  	<a [hidden]="!st.getLogin()" class="navbar-brand text-right ml-2" href="#">
  		<div  class="btn-group">
		  	<button class="btn btn-secondary btn-sm " style="background: #000;border:none" type="button">
		    		ยอดทั้งหมด : <b style="color:#F9D42F;">{{st.getPrice()}} พ้อย</b>
		  	</button>
		  	<button [hidden]="!st.getLogin()" (click)="showSetting()" type="button" class="btn btn-outline-warning">การเงิน</button>
		</div>
  	</a>
  	<!-- end show point mobile -->
  	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
	    	<ul class="navbar-nav mr-auto mt-2 mt-lg-0 text-center">
	    		<!-- logged -->
	    		<li class="nav-item" [hidden]="!st.getLogin()">
	        		<a class="nav-link" href="#">
	        			<div class="userinfo-nav">
				   		<i class="fa fa-user" aria-hidden="true" style="font-size: 13px;margin-right: 5px"></i>
				   		{{st.getMemberEmail()}}
				   		<i class="fa fa-sign-out" aria-hidden="true" (click)="logOut()" 
				   		style="font-size: 13px;margin-left: 5px;color:red;cursor: pointer;"></i>
				   	</div>
	        		</a>
	     	</li>
	     	<!-- logged -->
	      	<li class="nav-item active">
	        		<a class="nav-link" href="#">หน้าแรก <span class="sr-only">(current)</span></a>
	      	</li>
	      	<li class="nav-item">
	        		<a class="nav-link" (click)="callTopup()" href="#">เติมเงิน</a>
	     	</li>
	     	<li class="nav-item">
	        		<a class="nav-link" (click)="showNews()">ข่าวสาร</a>
	     	</li>
	     	<!-- not login -->
	     	<li class="nav-item" [hidden]="st.getLogin()">
	        		<a class="nav-link" href="#">
	        			<button (click)="showLogin()"   class="btn btn-outline-success my-2 my-sm-0" type="submit">
	        				<i class="fa fa-key" aria-hidden="true"></i> เข้าสู่ระบบ
	        			</button>
	        		</a>
	     	</li>
	     	<li class="nav-item" [hidden]="st.getLogin()">
	        		<a class="nav-link" href="#">
	        			<button (click)="regisTer()" class="btn btn-outline-warning my-2 my-sm-0" type="submit">สมัครสมาชิก</button>  
	        		</a>
	     	</li>
	     	<!-- not login -->


	    	</ul>
  	</div>
</nav>

<!-- end mobile -->

<div [hidden]="st.showSetting">	
	<app-user></app-user>
</div>

<div [hidden]="hideRegis">	
	<app-register (emitCloseRegis)="closeRegis($event)"></app-register>
</div>

<div [hidden]="logIn">	
	<app-login (emitCloseLogin)="closeLogin($event)"></app-login>
</div>
<nav class="navbarfix navbar navbar-expand-lg  fixed-top d-none d-sm-block">
	<div class="container">
		
  
    		<a class="navbar-brand" href="#">
		    	<img src="https://www.mx7.com/i/19c/lahMNr.png" width="150">
		</a>
    		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
     		<li class="nav-item active">
	        		<a class="nav-link" href="#" (click)="homePage($event)">หน้าแรก</a>
	      	</li>
	      	<li class="nav-item">
	        		<a (click)="callTopup()" class="nav-link" href="#">เติมเงิน</a>
	      	</li>
	      	<li class="nav-item">
	        		<a class="nav-link" (click)="showNews()" href="#">ข่าวสาร</a>
	      	</li>
	    	</ul>

	 

	    	<!-- login section -->
	   	<div [hidden]="!st.getLogin()" class="userinfo-nav">
	   		<i class="fa fa-user" aria-hidden="true" style="font-size: 13px;margin-right: 5px"></i>
	   		{{st.getMemberEmail()}}
	   		<i class="fa fa-sign-out" aria-hidden="true" (click)="logOut()" 
	   		style="font-size: 13px;margin-left: 5px;color:red;cursor: pointer;"></i>
	   	</div>
	    	<div [hidden]="!st.getLogin()" class="btn-group">
		  	<button class="btn btn-secondary btn-sm " style="background: #000;border:none" type="button">
		    		ยอดทั้งหมด : <b style="color:#F9D42F;">{{st.getPrice()}} พ้อย</b>
		  	</button>
		</div>
		<button [hidden]="!st.getLogin()" (click)="showSetting()" type="button" class="btn btn-outline-warning">การเงิน</button>
		<!-- login section -->


	    	<div [hidden]="st.getLogin()">
	      	<button (click)="showLogin()"   class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-key" aria-hidden="true"></i> เข้าสู่ระบบ</button>
	      	<button (click)="regisTer()" class="btn btn-outline-warning my-2 my-sm-0" type="submit">สมัครสมาชิก</button>    		
	    	</div>
   

	</div>
</nav>