
<div [hidden]="hideRegis">	
	<app-register (emitCloseRegis)="closeRegis($event)"></app-register>
</div>

<div [hidden]="logIn">	
	<app-login (emitCloseLogin)="closeLogin($event)"></app-login>
</div>
<nav class="navbarfix navbar navbar-expand-lg  fixed-top">
	<div class="container">
		
  
    		<a class="navbar-brand" href="#">
		    	<img src="https://www.mx7.com/i/19c/lahMNr.png" width="150">
		</a>
    		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
     		<li class="nav-item active">
	        		<a class="nav-link" href="#">หน้าแรก</a>
	      	</li>
	      	<li class="nav-item">
	        		<a (click)="callTopup()" class="nav-link" href="#">เติมเงิน</a>
	      	</li>
	      	<li class="nav-item">
	        		<a class="nav-link" href="#">ข่าว</a>
	      	</li>
	    	</ul>

	 

	    	<!-- login section -->
	   	<div [hidden]="!st.getLogin()" class="userinfo-nav">
	   		<i class="fa fa-user" aria-hidden="true" style="font-size: 13px;margin-right: 5px"></i>
	   		{{st.getMemberEmail()}}
	   		<i class="fa fa-sign-out" aria-hidden="true" (click)="logOut()" 
	   		style="font-size: 13px;margin-left: 5px;color:red;cursor: pointer;"></i>
	   	</div>
	    	<div [hidden]="!st.getLogin()" class="btn-group">
		  	<button class="btn btn-secondary btn-sm " style="background: #000;border:none" type="button">
		    		ยอดทั้งหมด : <b style="color:#F9D42F;">{{st.getPrice()}} พ้อย</b>
		  	</button>
		</div>
		<button [hidden]="!st.getLogin()" type="button" class="btn btn-outline-warning">การเงิน</button>
		<!-- login section -->


	    	<div [hidden]="st.getLogin()">
	      	<button (click)="showLogin()"   class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-key" aria-hidden="true"></i> เข้าสู่ระบบ</button>
	      	<button (click)="regisTer()" class="btn btn-outline-warning my-2 my-sm-0" type="submit">สมัครสมาชิก</button>    		
	    	</div>
   

	</div>
</nav>