                <div class="text-center h-100 d-flex justify-content-center" *ngIf="spin">
                    <i class="align-self-center fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>
<!-- <div class="card m-4 bg-secondary text-light"> -->

<div class="card bg-light m-5">
    <div class="card-body">
            <div class="alert alert-success text-center" *ngIf="showSuc" role="alert">
                ดำเนินการสำเร็จกรุณารอผลการอนุมติ
            </div>
            <div class="alert alert-danger text-center" *ngIf="notE" role="alert">
                ยอดเงินไม่พอ
            </div>
            <div class="alert alert-danger text-center" *ngIf="!_store.userphone" role="alert">
                กรุณาตั้งค่าการโอนก่อน
            </div>
            <form [formGroup]="rFrom" (ngSubmit)="onSends()">
                    <div class="text-danger">*ขั้นต่ำ 200 บาท</div>
                <div class="input-group my-4"> 
                     <div class="input-group-addon"  id="basic-addon1">ถอนเงิน</div>
                    <input formControlName="money" [readonly]="!_store.userphone" type="text" class="form-control" placeholder="เฉพาะตัวเลขเท่านั้น">
                    <span class="input-group-btn">
                        <button class="btn btn-success" [disabled]="rFrom.invalid" type="submit">ตกลง</button>
                    </span>
                </div>
            </form>
    </div>
</div>

<div class="card m-4 bg-light" *ngFor="let withDraw of listWithdraw;let indexs = index ">
  	<div class="card-body text-center">
    		<div class="clearfix">
    			<div class="text-left"> 				
    				<span class="m-2 text-warning"><b class="text-dark">ลำดับ :</b> {{indexs+1}} </span>
    			</div>
    			<div class="clearfix">			
    				<span class="m-2 text-warning float-left"><b class="text-dark">หมายเลขการถอนเงิน :</b> {{withDraw.withdraw_id}}</span>
	    			<span class="m-2 text-warning float-right"><b class="text-dark">สถานะการถอนเงิน :</b> 
	    				<span *ngIf="withDraw.withdraw_status == 0">ยังไม่อนุมัติ</span>
	    				<span *ngIf="withDraw.withdraw_status == 1">อนุมัติและโอนแล้ว</span>
	    			</span>
    			</div>
    			<div class="clearfix">	
	    			<span class="m-2 text-warning float-left"><b class="text-dark">จำเนินเงิน :</b>  {{withDraw.withdraw_price}} บาท</span>
	    			<span class="m-2 text-warning float-right"><b class="text-dark">เวลาที่แจ้งถอนเงิน : </b> {{withDraw.withdraw_time | date :'d/M/y - HH:mm:ss a'}} </span>
    			</div>
    		</div>
  	</div>
</div>

