<!-- <div class="card m-4 bg-light" *ngFor="let deposits of listDeposit;let indexs = index "> -->
<div class="card m-4 bg-light">
  	<div class="card-body text-center">
    		<div class="clearfix">
    			<div class="clearfix">			
	    			<span class="m-2 text-warning float-left"><b class="text-dark">ลำดับ :</b> </span>
    			</div>
    			<div class="clearfix">			
	    			<span class="m-2 text-warning float-left"><b class="text-dark">เกม :</b> </span>
	    			<span class="m-2 text-warning float-right"><b class="text-dark">สถานะการแข่ง :</b>  </span>
    			</div>
    			<div class="clearfix">	
	    			<span class="m-2 text-warning float-left"><b class="text-dark">ทีมแข่งขัน :</b> </span>
	    			<span class="m-2 text-warning float-right"><b class="text-dark">เวลาแข่งขัน :
	    			</b> </span>
    			</div>
    			<div class="clearfix">	
	    			<span class="m-2 text-warning float-left"><b class="text-dark">ทีมที่เลือก :</b> </span>
	    			<span class="m-2 text-warning float-right"><b class="text-dark">ตัวคูณที่คาดคะเน :
	    			</b> </span>
    			</div>
    			<div class="clearfix">	
    				<span class="m-2 text-warning float-left"><b class="text-dark">จำนวนเงิน :</b> </span>
	    			<span class="m-2 text-warning float-right"><b class="text-dark">จำนวนเงินที่คาดคะเน :
	    			</b> </span>
    			</div>
    			<div class="clearfix">	
    				<span class="m-2 text-warning float-left"><b class="text-dark">ผลการแข่งขัน : </b>แข่งขันแล้ว </span>
	    			<span class="m-2 text-warning float-right"><b class="text-dark">สถานะเงินเข้าสู่ระบบ(สำหรับผู้ชนะ) :
	    			</b> </span>
    			</div>
    		</div>
  	</div>
</div>

