			
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-md-12">				

						<div class="wrap-cat-header clearfix">
							<div class="wrap-image-cat" 
							(click)="ContentComponent.fetchMatch(0,0,0,catDetail.catID)"
							*ngFor="let catDetail of ContentComponent.listCat">
								<img src="{{catDetail.catImage}}" style="cursor: pointer;">
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end catagory header -->
      <!-- content and sidebar -->
        <div class="row">
          <div class="container">
            <div class="row">

              <!-- content -->
              <div class="col-md-9">    

                <app-content></app-content>
              </div>
               <!-- end content -->
               <!-- sidebar -->
              <div class="col-md-3">
                <app-sidebar></app-sidebar>
              </div>
               <!-- end sidebar -->
            </div>
          </div>
        </div>
      <!-- end content and sidebar -->