<app-menubar></app-menubar>
<app-slide></app-slide>
<div class="wrap-content-sidebar">
    <div class="container-fluid">   
       <!-- catagory header -->
        <app-catheader></app-catheader>
      <!-- end catagory header -->
      <!-- content and sidebar -->
        <div class="row">
          <div class="container">
            <div class="row">

              <!-- content -->
              <div class="col-md-8">    

                <app-content></app-content>
              </div>
               <!-- end content -->
               <!-- sidebar -->
              <div class="col-md-4">
                <app-sidebar></app-sidebar>
              </div>
               <!-- end sidebar -->
            </div>
          </div>
        </div>
      <!-- end content and sidebar -->
    </div>
</div>