<div class="sidebar-wrap">
	<div class="wrap-odd">
		<div class="subject-sidebar">
			รายการที่เลือก 
		</div>
		<div class="no-selected" *ngIf="getChoose.isEmptyObject(getChoose.toggle)">
			เลือกทีมที่จะร่วมสนุก
		</div>
		<div class="wrap-list-odd">
			<!-- {{getChoose.matchList | json}} -->
			
		

		

			<div class="odd-detail-block" *ngFor="let entry of  getChoose.matchList ">
				<div class="clearfix" style="color:#378AE3;font-weight: bold">
					{{entry.teamChoose}}
					<b class="remove-selected" (click)="getChoose.toggleClick(entry.matchId,entry.teamnum)">x</b>
				</div>
				<div style="font-size: 13px;color:#92A1A1">{{entry.teamVSteam}}</div>
				<div style="font-size: 13px;color:#92A1A1">8.09.17, 14:25</div>
				<div class="container">
					<div class="row">
						<div class="col-md-4" >
							<div class="row">

								<input [maxlength]="9" style="margin:5px;text-align: right" class="form-control" type="numbers" 
								(ngModelChange)="getChoose.calBet($event,entry.id,entry.ood)" [ngModel]="mymodel" appOnlynumber>		
								<div class="below-input">
									Bet Amount
								</div>							
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<input style="margin:5px;text-align: right" class="form-control" 
								type="text" value="{{entry.ood}}" disabled>		
								<div class="below-input">
									Odds
								</div>								
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<input style="margin:5px;text-align: right" class="form-control" type="text" 
								value="{{getChoose.eachReward[entry.id] | number : '1.2-2'}}" disabled>		
								<div class="below-input">
									Possible Winning
								</div>								
							</div>
						</div>
					
					</div>
				</div>
			</div>


			<div class="wrap-summary" *ngIf="!getChoose.isEmptyObject(getChoose.toggle)">
					<div class="subject-sidebar" style="padding-bottom: 15px;margin-bottom: 15px">
						สรุปผลรวม
					</div>
					<div class="total clearfix" style="font-size: 13px">
						<div style="float:left;color:#92A1A1">
							เงินทุน
						</div>
						<div style="float:right">
							{{getChoose.allFund | number : '1.0' }}
						</div>
					</div>

					<div class="total clearfix">
						<div style="float:left;color:#92A1A1">
							ผลรวมทั้งหมด
						</div>
						<div style="float:right;color:#378AE3">
							{{getChoose.allReward | number : '1.2-2' }}
						</div>
					</div>
					<div *ngIf="spinload" class="sk-circle">
					  <div class="sk-circle1 sk-child"></div>
					  <div class="sk-circle2 sk-child"></div>
					  <div class="sk-circle3 sk-child"></div>
					  <div class="sk-circle4 sk-child"></div>
					  <div class="sk-circle5 sk-child"></div>
					  <div class="sk-circle6 sk-child"></div>
					  <div class="sk-circle7 sk-child"></div>
					  <div class="sk-circle8 sk-child"></div>
					  <div class="sk-circle9 sk-child"></div>
					  <div class="sk-circle10 sk-child"></div>
					  <div class="sk-circle11 sk-child"></div>
					  <div class="sk-circle12 sk-child"></div>
					</div>
					<div *ngIf="notEnough" class="alert alert-danger m-2 text-center" role="alert">
					  	ยอดเงินของคุณไม่เพียงพอ
					</div>
					<div *ngIf="insertSuc" class="alert alert-success m-2 text-center" role="alert">
					 	ขอบคุณที่ร่วมสนุก
					</div>
					<div class="btn-confirm" *ngIf="_store.getLogin()">
					<!-- <div class="btn-confirm" > -->
						<button (click)="letplay()" type="button" class="">ยืนยัน</button>
					</div>
					<div class="not-login" *ngIf="!_store.getLogin()">
						กรุณาเข้าสู่ระบบก่อนร่วมสนุก
					</div>
			</div>

		</div>
	</div>
</div>