<div class="sidebar-wrap">
	<div class="wrap-odd">
		<div class="subject-sidebar">
			TEST BET SUBJECT
		</div>
		<div class="wrap-list-odd">

			<div class="odd-detail-block">
				<div style="color:#378AE3;font-weight: bold">Evil Geniuses</div>
				<div style="font-size: 13px;color:#92A1A1">8.09.17, 14:25</div>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="row">

								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Bet Amount">									
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Odds">									
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Possible">									
							</div>
						</div>
					
					</div>
				</div>
			</div>
			
			<div class="odd-detail-block">
				<div style="color:#378AE3;font-weight: bold">Evil Geniuses</div>
				<div style="font-size: 13px;color:#92A1A1">8.09.17, 14:25</div>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="row">

								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Bet Amount">									
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Odds">									
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Possible">									
							</div>
						</div>
					
					</div>
				</div>
			</div>

			<div class="odd-detail-block">
				<div style="color:#378AE3;font-weight: bold">Evil Geniuses</div>
				<div style="font-size: 13px;color:#92A1A1">8.09.17, 14:25</div>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="row">

								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Bet Amount">									
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Odds">									
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Possible">									
							</div>
						</div>
					
					</div>
				</div>
			</div>

			<div class="odd-detail-block">
				<div style="color:#378AE3;font-weight: bold">Evil Geniuses</div>
				<div style="font-size: 13px;color:#92A1A1">8.09.17, 14:25</div>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="row">

								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Bet Amount">									
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Odds">									
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Possible">									
							</div>
						</div>
					
					</div>
				</div>
			</div>

			<div class="odd-detail-block">
				<div style="color:#378AE3;font-weight: bold">Evil Geniuses</div>
				<div style="font-size: 13px;color:#92A1A1">8.09.17, 14:25</div>
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="row">

								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Bet Amount">									
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Odds">									
							</div>
						</div>
						<div class="col-md-4">
							<div class="row">
								<input style="margin:5px;" class="form-control" type="text" 
								placeholder="Possible">									
							</div>
						</div>
					
					</div>
				</div>
			</div>

			<div class="wrap-summary">
					<div class="subject-sidebar" style="border-bottom: 1px solid #92A1A1;padding-bottom: 15px;margin-bottom: 15px">
						TEST BET SUBJECT
					</div>
					<div class="total clearfix" style="font-size: 13px">
						<div style="float:left;color:#92A1A1">
							Total
						</div>
						<div style="float:right">
							2000
						</div>
					</div>

					<div class="total clearfix">
						<div style="float:left;color:#92A1A1">
							Return
						</div>
						<div style="float:right;color:#378AE3">
							2000
						</div>
					</div>
			</div>

		</div>
	</div>
</div>